#skills {
  padding: 15px 22px 15px 57px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("https://www.pngkey.com/png/full/124-1246088_red-arrow-down-erko-jun.png");
  background-size: 12px;
  background-repeat: no-repeat;
  background-position-x: 97%;
  background-position-y: 50%;
}

.experience {
  padding-right: 150px !important;
}

.add-language {
  width: 201px;
  height: 32px;
  font-size: 12px;
  background-color: #fe3b1f;
  color: #ffffff;
  align-self: flex-end;
  border: none;
  margin-bottom: 63px;
}

.skill {
  box-sizing: border-box;
  width: 455px;
  height: 54px;
  padding: 14px 12px 14px 17px;
  border: 1px solid #525557;
  vertical-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 17px;
}
.skill-name {
  margin-right: 35px;
  min-width: 60px;
}
.skill-experience {
  margin-right: 100px;
}
