#skills {
  padding: 15px 22px 15px 57px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("https://www.pngkey.com/png/full/124-1246088_red-arrow-down-erko-jun.png");
  background-size: 12px;
  background-repeat: no-repeat;
  background-position-x: 97%;
  background-position-y: 50%;
}
