/* Info */
.info h2 {
  display: flex;
  width: 705px;
  justify-content: flex-start;
}

.info {
  width: 50%;
  display: flex;
  flex-direction: column;
  background: radial-gradient(50% 50% at 50% 50%, #0c0d0e 0%, #151718 73.44%);
  align-items: center;
  padding-left: 100px;
}
.info p {
  color: white;
  width: 705px;
  height: 606px;
  font-size: 24px;
  line-height: 48px;
  letter-spacing: 0.05em;
  text-align: left;
  margin-top: 100px !important;
}
