@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Rowdies&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2 {
  font-family: "Rowdies", cursive;
}

h2 {
  color: #fe3b1f;
  font-size: 64px;
  text-align: center;
  margin-top: 62px;
  line-height: 79px;
}

.hide {
  display: none;
}

.main {
  height: 100vh;
}

.left {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-inputs {
  margin-top: 131px;
  align-items: center;
}
.form-inputs input,
select,
option,
input[type="date"] {
  width: 455px;
  height: 54px;
  background: #ffffff;
  border: 1px solid #525557;
  box-sizing: border-box;
  margin-bottom: 37px;
  padding: 17px 203px 13px 57px;
  font-size: 14px;
}
.right {
  width: 50%;
  background: radial-gradient(50% 50% at 50% 50%, #0c0d0e 0%, #151718 73.44%);
}

.right p {
  color: white;
}
.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.passive {
  opacity: 10%;
}

.active {
  opacity: 90%;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-inputs {
  display: flex;
  flex-direction: column;
  width: 455px;
}

/* Submit Page */

.submit-page {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: radial-gradient(50% 50% at 50% 50%, #0c0d0e 0%, #151718 73.44%);
}

/* Common */
.submit-button {
  background-color: #fe3b1f;
  color: white;
  width: 395px;
  height: 79px;
  border-radius: 50px;
  font-size: 36px;
  border: none;
}

.submit-text {
  color: #ffffff;
  text-decoration: underline;
  font-size: 28px;
  margin-top: 35px;
}

textarea {
  padding: 23px;
  width: 309px;
}
