/* Home-Page */
.App {
  height: 100vh;
}
.home {
  width: 100%;
  max-height: 100vh !important;
  flex-direction: column;
}
.home-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  height: 589px;
}

.home h1 {
  color: #fe3b1f;
  font-size: 96px;
  line-height: 119px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 175px;
  margin-bottom: 105px;
  width: 1090px;
  height: 212px;
}

.home button {
}

.home a {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration-line: underline;
  color: #ffffff;
  margin-top: 18px;
  width: 338px;
  height: 66px;
}

.background {
  width: 100vw;
  max-height: 100vh !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.rocketman {
  position: relative;
  width: 409.92px;
  height: 372.45px;
  overflow: hidden;
  top: 240px;
  transform: rotate(2deg);
}
